# Somnia Network RPC (Shannon Testnet)
NEXT_PUBLIC_SOMNIA_RPC="https://dream-rpc.somnia.network/"

# Smart Contract Addresses (Live on Testnet!)
NEXT_PUBLIC_LEADERBOARD_ADDRESS="0xB510b1A90Fc3A34d1B464D69ad94448de7924ab5"
NEXT_PUBLIC_ENGINE_ADDRESS="0x0C6E2eB7c8761D5103F744E09c832c68cCBd10f9"
NEXT_PUBLIC_HANDLER_ADDRESS="0xE474A6F728F8eE2D22a686eC52135d21b7AD99Bd"

# Application State
NEXT_PUBLIC_DEMO_MODE="false"

# Wallet Configuration (Fill this later if your connect button requires it)
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID="your_walletconnect_project_id"